.DS_STORE
outputJSON/
generate_datasets/preferences.json
generate_datasets/energiforbrukning-i-geografiska-omradet-092206-on.json

**/spark/project/
**/spark/spark-warehouse/
**/spark/target/
spark/target/streams/
**/*.crc
phpinfo.php
**/spark/sparkOut.json/
generate_datasets/outputJSON_1/
generate_datasets/outputJSON_10/
generate_datasets/outputJSON_50/

generate_datasets/datasets/


